@import "tailwindcss";

html, body, #__next {
  height: 100%;
  background: #09304F;
}

à¹‰html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  margin: 0;
}

* { box-sizing: border-box; }
